.ingredient-box {
    width: 280px;
    height: 100%;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    vertical-align: middle;
    cursor: pointer;
  }


.selected-ingredient {
    background-color: lightgrey;
    opacity: 0.85;
}

/* .selected-cell {
    background-color: var(--selected-ingredient-color, grey);
    opacity: 0.85;
} */

.text-field {
    display: inline-block;
    height: 20px;
    vertical-align: middle;
  }

.data-input {
    display: inline-block;
    height: 15px;
    width: 30px;
    vertical-align: middle;
  }

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    gap: 0px;
    width: 100%;
    height: 100%;
  }

.box {
      aspect-ratio: 1 / 1;
      border: 1px solid black;
      float: left;
      /* background-color: white; */
      cursor: pointer;
    }