:root {
  --border-style: 1px solid #000000;
  --grid-background-color: #FFFFFF;
  /* --font: Arial, sans-serif; */
}

#body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.center-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px; 
  min-width: 800px;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 2%;

}

.main-panel{
  padding: 2%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  max-height: 100%;
  /* background-color: lightblue; */
}

.grid{ /* Grid container, boxes drawn seperate from this sizing */
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  /* width: 52%; */
  max-height: 100%;
  gap: 0px;
  border: var(--border-style);
  /* background-color: blue; */
}

.box {
  aspect-ratio: 1 / 1;
  border: var(--border-style);
  background-color: var(--grid-background-color); 
  cursor: pointer;
}

.selected-cell {
  background-color: var(--selected-ingredient-color, #808080);
  /* opacity: 0.85; */
}

.ingredient-holder{
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)); /* Adjusted minmax to control box width */
  gap: 5%; /* Area between blocks */ 
  box-sizing: border-box;
}

/* Consider just making it across the whole box? */
/* need to adjust the minmax*/
.ingredient-square{
  height: 10px;
  box-sizing: border-box; 
}


.sidebar{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* width: %; */
  box-sizing: border-box;
  margin-right: 10px;
  /* background-color: lightgreen; */
}

.ingredient-options-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure it takes the full height of its parent */    
}

#ingredients-container {
  display: flex;
  flex-direction: column;
  max-height: 45%; /* Set the maximum height as a percentage of the parent */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: auto; /* Enable vertical scrolling */
}

.ingredient-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 5px;
  border: 2px solid #A9A9A9;
  cursor: pointer;
  /* min-height: 10px; */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.ingredient-def {
  display: inline-block;
  /* height: 25px; */
  margin: 1px;
  vertical-align: middle;
}

.colorbox {
  display: inline-block;
  width: 30px;
  flex-shrink: 0; /* Ensure the colorbox does not shrink */
}

.ingredient-text {
  display: inline-block;
  flex-grow: 1; /* Ensure the ingredient-text takes up remaining space */
  flex-shrink: 1; /* Ensure the element can shrink */
}


/* Ingredient Assignment */
.selected-ingredient {
    background-color: #D3D3D3;
    opacity: 0.85;
}

.hover-border {
  border: 1px transparent;
}

/* These three can be combined as classes */
#add-ingredient-button {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  /* font: Arial; */
}

#add-ingredient-button:hover {
  background-color: #45a049;
}

#import-ingredient-button {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  /* font: Arial; */
}

#import-ingredient-button:hover {
  background-color: #45a049;
}

#export-plate {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  /* font: Arial; */
}

#export-plate:hover {
  background-color: #45a049;
}


  /* Row & Columns */
.data-input {
    height: 15px;
    width: 30px;
  }


/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  max-width: 800px;
  min-width: 500px;
}

#ingredient-input {
  width: 100%;
  height: 200px;
  max-width: 100%;
  box-sizing: border-box;
  resize: vertical;
}

.close {
  color: #aaaaaa;
  /* float: right; */
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

.close:hover{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

